@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


:root {
    --main-icons-color: #FF6565;
    --text-color: white;
    --sec-text-color: #071629;
    --bare-width: 30px;
    --bar-height: 2px;
    --hamburger-gap: 6px;
    --hamburger-margin: 8px;
    --animation-timing: 200ms ease-in-out;
    --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
    --x-width: calc(var(--hamburger-height) * 1.41421356237)
}

body {
    font-family: 'Source Sans 3';
    margin: 0;
}

.background {
    background-image: url(imgs/main_part\ \(1\).png);
    padding: 10px 50px;
    height: 800px;
}

/*start hover menu*/
.hamburger-menu {
    display: flex;
    flex-direction: column;
    gap: var(--hamburger-gap);
    width: max-content;
    position: absolute;
    top: 43px;
    left: 20px;
    z-index: 2;
    cursor: pointer;
    visibility: hidden;

}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
    content: '';
    width: var(--bare-width);
    height: var(--bar-height);
    background-color: white;
    border-radius: 9999px;
    transform-origin: left center;
    transition: opacity var(--animation-timing), width var(--animation-timing), rotate var(--animation-timing), translate var(--animation-timing);
}

.hamburger-menu input {
    width: 20px;
}

.hamburger-menu:has(input:checked)::before {
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) /-2);
}

.hamburger-menu:has(input:checked)::after {
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) /2);
}

.hamburger-menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
}

.hamburger-menu input:checked {
    opacity: 0;
    width: 0;
}

/*end hover menu*/
header {
    padding: 25px 40px;
    display: flex;
    justify-content: space-around;
}

header nav {
    padding-left: 450px;
    margin-top: 10px;
}

header nav ul {
    display: flex;
    justify-content: space-around;

}

header ul li {
    list-style: none;
    text-decoration: none;
}

header ul li a {
    text-decoration: none;
    padding: 10px;
    color: white;
}

header ul li a:hover {
    color: #FF6565;
}

header svg {
    visibility: hidden;
}

/*start banner setion*/
.main-banner {
    height: 900px;
    padding: 10px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.main-banner .center-text {
    text-align: center;
    padding: 30px;
    color: white;
    animation: slide-down 0.5s ease-in-out forwards;
}

.main-banner .button {
    padding: 15px;
    height: 50px;
    width: 200px;
    text-align: center;
    border-radius: 50px;
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    background-color: var(--main-icons-color);
    margin-top: 10px;
    animation: slide-down 0.5s ease-in-out forwards;
}

.main-banner .button:hover {
    opacity: 0.9;
    cursor: pointer;
}

.main-banner .banner-p p {
    padding: 70px;
    text-align: center;
    width: 756px;
    color: white;
    font-weight: 300;
    animation: slide-down 0.5s ease-in-out forwards;
}

/*end banner section*/
/*start about section*/
.first-about-sec {
    padding: 60px 50px 5px;
    text-align: center;
}

.first-about-sec h3 {
    font-size: 30px;
    font-weight: 500;
    animation: slide-in 0.5s ease-in-out forwards;
}

.first-about-sec p {
    padding: 40px 300px;
    animation: slide-in 0.5s ease-in-out backwards;
}

.seconed-about-sec {
    display: flex;
    padding: 50px 50px;
    justify-content: center;
}

.seconed-about-sec .a1 {
    padding: 20px;
    text-align: center;
    color: var(--sec-text-color);
}

.seconed-about-sec .a1 img {
    padding: 15px;
    width: 85px;
    animation: slide-down 0.5s ease-in-out forwards;
}

.seconed-about-sec .a1 p {
    padding: 10px 25px;
    line-height: 25px;
    font-size: 13px;
    animation: slide-down 0.5s ease-in-out forwards;
}

/*end about section*/
/*start results section*/
.main-results {
    background-image: url(imgs/part_3_dark.png);
    padding: 50px 150px;
    color: white;
    text-align: center;
    background-repeat: no-repeat;
}

.main-results .results-text {
    padding: 50px 50px 0px;
    animation: slide-out 0.5s ease-in-out forwards;
}

.main-results .results-text h3 {
    font-size: 25px;
    font-weight: 500;
    padding: 40px;
}

.main-results .results-text p {

    padding: 10px 165px;
    line-height: 25px;
    font-size: 15px;

}

.main-results .results-blocks {
    display: flex;
    justify-content: space-between;
    height: 70vh;
    align-items: center;



}

.pentagon {
    height: 0;
    width: 200px;
    background-color: transparent;
    border-top: 80px solid #FF6565;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    position: relative;
}

.pentagon::before {
    position: absolute;
    content: '';
    height: 0;
    width: 0;
    border-bottom: 80px solid #FF6565;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    bottom: 79px;
    left: -50px;
}

.pentagon p {
    font-size: 30px;
    position: absolute;
    top: -91px;
    left: 20%;
}


.main-results .results-blocks img {
    width: 235px;
    padding: 20px;
    margin-right: 30px;


}

/*end results section*/
/*start contact section*/
.main-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 80px 80px;
}

.main-contact h3 {
    font-size: 25px;
    font-weight: 500;
    padding: 0px 20px 30px;
    animation: slide-down 0.5s ease-in-out forwards;
}

.main-contact form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;

}

.main-contact form input {
    width: 300px;
    height: 40px;
    border: none;
    border-bottom: 1px solid #979797;
    margin-bottom: 40px;
    color: var(--sec-text-color);
}

.main-contact form textarea {
    height: 40px;
    border: none;
    border-bottom: 1px solid #979797;
    margin-bottom: 40px;
    color: var(--sec-text-color);
}

.main-contact .button {
    padding: 15px;
    height: 50px;
    width: 200px;
    text-align: center;
    border-radius: 50px;
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    background-color: var(--main-icons-color);
    margin-top: 10px;
    cursor: pointer;
    animation: slide-down 0.5s ease-in-out forwards;
}

.main-contact .button:hover {
    opacity: 0.9;
}

/*end contact section*/
/*start footer section*/
.main-footer {
    background-color: #071629;
    padding: 40px 40px 0px;

}

.main-footer .footer1 {
    display: flex;
    justify-content: space-around;
}

.main-footer .footer1 img {
    margin-right: 160px;
}

.main-footer .social-icons {
    margin-left: 430px;
}

.main-footer .copyright {
    text-align: center;
    padding: 30px;
    color: gray;
}

/*end footer section*/

/*start responsive*/
@media (max-width: 1064px) {
    body {
        width: fit-content;
    }

    .main-footer .footer1 img {
        margin-right: 0px;
    }

    .seconed-about-sec {
        flex-wrap: wrap;
        padding: 0px;
    }

    .first-about-sec p {
        padding: 40px 100px
    }

    .main-contact {
        padding: 80px 0;
    }
}
@media (max-width: 1064px) {
    body {
        width: fit-content;
    }

    .seconed-about-sec {
        flex-wrap: wrap;
        padding: 0px;
    }

    .first-about-sec p {
        padding: 40px 100px
    }

    .main-contact {
        padding: 80px 0;
    }
}

@media (max-width: 768px) {
    .hamburger-menu {
        visibility: visible;
    }

    header {
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    header nav {
        padding-left: 0;
        width: 100%;
    }

    header nav ul {
        flex-direction: column;
        top: 15%;
        left: 45%;
        line-height: 40px;
        position: absolute;
        display: none;
    }

    .hamburger-menu.hamburger-menu:has(input:checked)+nav ul {
        display: block;
    }

    header svg {
        display: block;
    }

    header svg:hover+nav ul,
    nav ul:hover {
        display: flex;
    }

    .background {
        padding: 10px 20px;
        height: 800px;
        background-position: 35% 50%;
    }

    .main-banner {
        padding: 0px;
        height: 850px;
    }

    .main-banner .center-text {
        font-size: 12px;
        padding: 12px;
    }

    .main-banner .center-text p {
        font-size: 17px;
    }

    .main-banner .banner-p p {
        padding: 70px 20px 20px;
        width: auto;
    }

    .first-about-sec {
        padding: 60px 0px;
    }

    .first-about-sec p {
        padding: 20px;
    }

    .seconed-about-sec {
        flex-wrap: wrap;
        padding: 0px;
    }

    .main-results {
        padding: 0px;
        background-color: #132030;
    }

    .main-results .results-text {
        padding: 0px;
    }

    .main-results .results-text p {
        padding: 10px 20px;
    }

    .main-results .results-blocks {
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top: 150px;
        height: 150vh;
    }

    .pentagon {

        margin-bottom: 130px;
    }

    .main-contact form input {
        width: 350px;
    }
          .main-footer .footer1 {
              display: flex;
              flex-direction: row;
              align-items: center;
          }
    
          .main-footer .footer1 img {
              margin-right: 0px;
              display: flex;
          }
    
          .main-footer .social-icons {
              margin-left: 0px;
              text-align: center;
              padding: 20px;
          }
}

@media (max-width: 443px) {
    header {
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    header nav ul {
        flex-direction: column;
        top: 15%;
        left: 45%;
        line-height: 40px;
        position: absolute;
        display: none;
    }

    .seconed-about-sec {
        flex-wrap: wrap;
        padding: 0px;
    }

    .hamburger-menu.hamburger-menu:has(input:checked)+nav ul {
        display: block;
    }

    .main-contact {
        padding: 80px 0;
    }
         .main-footer .footer1 {
             flex-direction: column;
         }
}